<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

  <!--icons-->
  <script src="https://kit.fontawesome.com/548d4ef203.js" crossorigin="anonymous"></script>
  <title>teekaDost</title>
</head>
<script src="https://app.wotnot.io/chat-widget/52Hug2F3Ggi60320524952407bLyPGYR.js" defer></script>
<body>
  <section id="title">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-light ">
        <a class="navbar-brand" href="/">teekadost.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href=".head-para">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=".pricing">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="footer">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reg">Register</a>
            </li>
          </ul>
        </div>


      </nav>


    </div>

    <div class="container cont">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="cont-head">teekadost.</h2>
          <p class="head-para">
            KiddoHealth is an application on Child Vaccination in India that help parents keep track of the vaccination needs of their children .A parent has to register the child on the Mobile APP or the web application of KiddoHealth and a
            vaccination calendar gets generated for that child.
            Scheduled reminders for vaccines due are sent on the registered mobile number of the parent by way of SMS. These SMS are sent a day in advance of the due date of the vaccine.
            Vaccination records are thereby digitized making a parent free from keeping manual vaccination records of the child .
          </p>
            <a href="reg.ejs"><button type="button" name="button" class="btn btn-primary"><span>


              <i class="fa-solid fa-right-to-bracket"></i></span> Login</button></a>
          <a href="reg.ejs"><button type="button" name="button" class="btn btn-primary"><span></a>

              <i class="fa-solid fa-right-to-bracket"></i></span> Register</button></a>
        </div>
        <div class="col-lg-6">
          <img src="img/1.jpg" alt="image" />
        </div>
      </div>
    </div>

  </section>

  <section id="benefits">

    <div class="container">
      <div class="benefits-head-2">
        <h2 class="benefits-head">Benefits with us</h2>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <div class="img-ho">
            <img src="img/image11.png" alt="1">
          </div>

          <h3 class="benefits-hi">No more long queues at chambers</h3>
          <p>Our expert vaccinators will go at your home as per your comfortable time.
          </p>
        </div>
        <div class="col-lg-3">
          <div class="img-ho">
            <img src="img/image2.png" alt="2">
          </div>
          <h3 class="benefits-hi">Never miss out on Vaccination dates</h3>
          <p>We ensure timely reminders through our mobile app and SMS
          </p>
        </div>
        <div class="col-lg-3">
          <div class="img-ho">
            <img src="img/image3.png" alt="3">
          </div>
          <h3 class="benefits-hi">No more exposure
            to sick kids</h3>
          <p>No more exposure of your kid to other patients in waiting area.
          </p>
        </div>
        <div class="col-lg-3">
          <div class="img-ho">
            <img src="img/image4.png" alt="4">
          </div>

          <h3 class="benefits-hi">Ultimate homely comfort and hygiene</h3>
          <p>No more packing bags, food etc. & getting ready for just a vaccination.
          </p>
        </div>

      </div>
    </div>

  </section>



  <section class="pricing">
    <div class="container">
      <div class="header-price">
        <h1>Features</h1>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">


              <h5 class="card-title">Remember To Vaccinate</h5>
              <p class="card-text">Get your account registered and see child details with due dates of vaccination. Get scheduled reminders when a vaccine gets due</p>
              <a href="<iframe width="640" height="480" src="https://embed.wotnot.io/52Hug2F3Ggi60320524952407bLyPGYR/bot/8KyUFX5RZBMR0321390848965BeAggGc?display_header=false&history_retention=false" frameborder="0"></iframe>"<button type="button" class="btn btn-outline-danger fea-btn">Register</button></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">

            <div class="card-body">

              <h5 class="card-title">Immunization Schedules</h5>
              <p class="card-text">Enter DOB of your child and get a schedule of vaccines with their due dates.</p>
              <p>

              </p>
              <button type="button" class="btn btn-outline-danger fea-btn">Get Schedule</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">

            <div class="card-body">

              <h5 class="card-title">Vaccination Cards</h5>
              <p class="card-text">Get the Digital card like any other smart card and have the vaccination info ready any time anywhere.</p>
              <p>

              </p>
              <a href="<iframe width="640" height="480" src="https://embed.wotnot.io/52Hug2F3Ggi60320524952407bLyPGYR/bot/8KyUFX5RZBMR0321390848965BeAggGc?display_header=false&history_retention=false" frameborder="0"></iframe>"><button type="button" class="btn btn-outline-danger fea-btn">Download</button></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">CHECK UP CARDS</h5>
              <p class="card-text">With the information collected on School Health checkup camps digitised.</p>
              <button type="button" class="btn btn-outline-danger fea-btn">Coming Soon</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    ''
  </section>

  <section id="ensures">
    <div class="container ensure">
      <div class="ensures-head">
        <h2 class="ensures-head-2">We Ensure</h2>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="img-ho">
            <img src="img/ensure-icon1.png" alt="1">

          </div>
          <h3>Experienced medics</h3>
          <p>We send experienced paramedics to vaccinate. You can be rest assured on the authenticity of the vaccinator.
          </p>
        </div>
        <div class="col-lg-3">
          <div class="img-ho">
            <img src="img/ensure-icon2.png" alt="2">

          </div>

          <h3>Temperature Control</h3>
          <p>We maintain proper end-to-end cold chain for the vaccine-in-transit through unique mobile refrigerators maintaining vaccine potency.
          </p>
        </div>
        <div class="col-lg-3">
          <div class="img-ho">

            <img src="img/ensure-icon3.png" alt="3">
          </div>

          <h3>Total Transparency</h3>
          <p>We extend transparency all through the system sharing vaccine details, MRP and other relevant data points.
          </p>
        </div>
        <div class="col-lg-3">
          <div class="img-ho">
            <img src="img/ensure-icon4.png" alt="4">

          </div>

          <h3>Convinient Timings</h3>
          <p>Request vaccination at your convenient timing. No more missing out or delays to office/work.
          </p>
        </div>

      </div>
    </div>
  </section>

  <section id="adult">
    <div class="container">
      <div class="content">
        <h2>
          Vaccination is not just for children
        </h2>
        <h3>
          Adults can be prevented from 14 life threatning diseases through vaccination
        </h3>
        <div class="row">
          <div class="col-lg-6">
            <button  type="button" class="btn btn-info clicker">Click here to know more!</button>
          </div>
          <div class="col-lg-6">

            <img class="img-adult" src="img/couple-img.png" alt="uncle ki photo" >
          </div>
        </div>

      </div>
    </div>
  </section>



  <section id="map">
    <div class="container-fluid">
      <h2 class="map-head">India is running the World's Largest Vaccination Drive</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>
          Vaccines Delivered
        </p>
        <div class="rectangle">
          2,20,64,81,692
        </div>
        <p>
          Citizens Fully vaccinated
        </p>
        <div class="rectangle">
          95.91 Crore
        </div>
        <p>
          % Of Fully Vaccinated
        </p>
        <div class="rectangle">
          92.65%
        </div>
      </div>
      <div class"col-lg-6">

    </div>
  </section>

  <section id="newsletter">
    <div class="container padder">
      <div class="row">
        <div class="col-lg-6">
          <h2>Email<span class="bold"> Newsletter</span></h2>
        </div>
        <div class="col-lg-6">
          <form class="f" action="index.html" method="post">
            <label for="emaill">Email:</label><br>
            <input type="email" id="emaill" name="emaill"><br><span>        <button type="button" class="btn btn-outline-info">Subscribe</button></span>
          </form>
        </div>
      </div>


    </div>
  </section>
  <section id="partners">
    <h2>Our Partners</h2>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <img src="img/part.png" alt="partner" />
        </div>
        <div class="col-lg-2">
          <img src="img/one.png" alt="" width="100px" height="100px">
        </div>
        <div class="col-lg-2">
          <img src="img/two.png" alt="" width="100px" height="100px">
        </div>
        <div class="col-lg-2">
         <img src="img/three.png" alt="" width="100px" height="100px">
        </div>
        <div class="col-lg-2">
          <img src="img/four.jpg" alt="" width="100px" height="100px">
        </div>
      </div>
    </div>
  </section>



  <div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Vaccination Services</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Register Members</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Search Vaccination centers</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Book Vaccination Slots</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Manage Appointment</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Download Certificate</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>Resources</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">How to get vaccinated</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Do's and Dont's</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Overview</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">API Guidelines</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Grivelence Guidelines</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
          </ul>
        </div>

        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Contact Us</h5>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <p>
                Helpline: +91-11-2308475(toll free-1098)
              </p>
              <p>
                Technical Helpline: 0120-4635272
              </p>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>&copy; 2022 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                <use xlink:href="#twitter" />
              </svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                <use xlink:href="#instagram" />
              </svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                <use xlink:href="#facebook" />
              </svg></a></li>
        </ul>
      </div>
    </footer>
  </div>










  <script src="index.js" charset="utf-8"></script>

</body>

</html>
