<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Planner</title>
    <link rel="stylesheet" href="css/planneer.css">
  </head>
  <body>
    <section id="form-date">
      <label for="birth-date">Date-of-birth:</label>
<input type="date" id="birthday" name="birth-date">
      <table style="width:100%">
  <tr>
    <th>Timing</th>
    <th>Vaccination</th>
    <th>Due Date</th>
  </tr>
  <tr class="one">
    <td>Birth
      </td>
    <td>
      <pre>
      Birth
      OPV-0
      Hepatitis B-1
    </pre></td>
    <td>19 Mar 2023</td>
  </tr>
  <tr class="two">
    <td>6 weeks</td>
    <td><pre>
      DTwpP-1
      opv1
      hib 1
  </pre></td>
    <td>30 apr 2023</td>
  </tr>
  <tr class="three">
    <td>10 weeks</td>
    <td><pre>
      DTwpP-2
      opv2
      hib 2
  </pre></td>
    <td>28 may 2023</td>
  </tr>

  <tr class="four">
    <td>14 weeks</td>
    <td><pre>
      DTwpP-3
      opv
      hib 3
  </pre></td>
    <td>25 jun 2023</td>
  </tr>

  <tr class="five">
    <td>9 month</td>
    <td><pre>
      opv4
      measles 1
      </pre></td>
    <td>17 dec 2023</td>
  </tr>

  <tr class="six">
    <td>12 monts</td>
    <td><pre>
      heaptiatis a 1
  </pre></td>
    <td>18 march 2023</td>
  </tr>

  <tr class="seven">
    <td>15 Month</td>
    <td><pre>
      	PCV-Booster-1
      MMR-1
      Varicella-1
  </pre></td>
    <td>30 apr 2023</td>
  </tr>

  <tr class="eight">
    <td>16-18 Month</td>
    <td><pre>
      DTwP-Booster-1
      OPV-Booster-1
      Hib-Booster-1
  </pre></td>
    <td>30 apr 2023</td>
  </tr>

  <tr class="nine">
    <td>18 Month	</td>
    <td><pre>
      	Hepatitis-A-2
  </pre></td>
    <td>30 apr 2023</td>
  </tr>

  <tr class="ten">
    <td>2 year	</td>
    <td><pre>
      	Hepatitis-A-2
  </pre></td>
    <td>30 apr 2023</td>
  </tr>

  <tr class="eleven">
    <td>5 year	</td>
    <td><pre>
      DTwP-Booster-2
      MMR-2
      Typhoid-2
      Varicella-2
      OPV-5
  </pre></td>
    <td>30 apr 2023</td>
  </tr>

  <tr class="twelve">
    <td>10 year	</td>
    <td><pre>
      Tdap/Td
      HPV
  </pre></td>
    <td>30 apr 2023</td>
  </tr>

</table>
    </section>
  </body>
</html>
